<!DOCTYPE html>

    <head>
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GLPKLGQCDB"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-GLPKLGQCDB');
        </script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>El Gran Torneig Mundial de les Arts Marcials</title>
        <link rel="icon" type="image/x-icon" href="https://elgrantorneig.com/static/img/boladedrac.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/stylesheet.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <meta property="og:type" content="website" />
        <meta property="og:title" content="El Gran Torneig Mundial de les Arts Marcials" />
        <meta property="og:description" content="Participa al 21è Gran Torneig de les Arts Marcials de Bola de Drac" />
        <meta property="og:image" href="https://elgrantorneig.com/static/img/tournamentogimage.jpeg">
        <meta property="og:image" content="https://static.wikia.nocookie.net/boladedrac-cat/images/a/a0/Personatges_Saga_21%C3%A8_Torneig_d%27Arts_Marcials.jpg/revision/latest/scale-to-width-down/250?cb=20130224144639&path-prefix=ca" />
        <meta property="og:url" content="https://www.elgrantorneig.com" />
        <meta property="og:site_name" content="El gran torneig" />
        <meta property="fb:app_id" content="3218873068341308" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#videofoto").click(function(){
                    $("#videofoto").load('/videoyoutube')  
                });
            });
        </script>

        
    </head>

    <body>

        <div class="loader"></div>

        <script> 
            $(document).ready(function() {
                $(".loader").fadeOut("fast");
            });
        </script> 

    <!-- NAVEGATION-->

    <!--<div style="text-align: center">    
       	<audio controls autoplayloop> 
        	<source src="../El joc de Bola de Drac/audio/elmillordelmon.ogg" type="audio/ogg"> 
        	<source src="../El joc de Bola de Drac/audio/elmillordelmon.mp3" type="audio/mpeg"> 
    	</audio>
    </div>-->
 
    <nav class = "navbar fixed-top navbar-light bg-light">
        <div class="container">
            <a href="/" class = "navbar-brand"><img src="/static/img/home.png" width="35px"></a><!---<img src="../El joc de Bola de Drac/img/boladedrac.png" width="30" style="left: 50%; position:absolute;">---> <h3 id="counter" style="float: right;" ></h3>
        </div>
    </nav> 

    <!--CONTENT-->
  
    <div class="container">
        <h3><div id= 'level' class="row" style="float: left; margin-left: 5px;"></div><div id='title'></div> <div id= 'score' class="row" style="float: right; margin-right: 5px;"> </div></h3>
    </div>


    

    <div id = 'content'>
    </div>

    <label id="allScores" value="{{ allScores }}"> </label>

    
    
    
   
    <div id='inscripcio'></div>

    <div id="content">
        <div class="container">
            <div class="row pt-3">
                <div id='videofoto' class="col-xs-12 col-sm-12 col-md-8 col-lg-8"></div><div id='boxscores' class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>                               
            </div>
        </div>
    </div>
 
    <!-- footer -->

    <footer class="bg-light text-center text-lg-start">
        
        <div style="position: absolute; bottom: 0;width: 100%; background-color: rgb(0, 0, 0, 0.3); position: absolute; bottom: 0; width: 100%; height: 50px; line-height: 50px; color: rgb(255, 255, 255); display: grid;place-content: center; align-self: flex-end;">
            
            
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-title="Participa al 21è Gran Torneig de les Arts Marcials de Bola de Drac" data-a2a-url="https://elgrantorneig.com/" >
                <a class="a2a_default_style">
                    <img src="/static/img/share2.png" width="27px" style="margin-right: 10px;">
                </a>
                <a class="a2a_button_whatsapp"></a>
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_twitter"></a>
                <a class="a2a_default_style">
                    <a href="mailto:boladedrac@elgrantorneig.com"><img src="/static/img/contactus.png" width="33px"></a>
                </a>

             </div>
            <script>
                var a2a_config = a2a_config || {};
                a2a_config.locale = "ca";
            </script>
        </div>

    </footer>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/app.js') }}"></script>        
     <!--<script  src="/app.js" async defer></script> -->
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    </body>
</html>


